<%- include('./partials/head') %>

    <div>
        <%Therapies.forEach(doc => { %>
        <%Medicines.forEach(m => { %>

            <% if(doc.medicine == m.product_name) { %>

                <article>
                   
            
                        <h2><%= doc.therapy_name %></h2>
                        <p><%= m.product_name %> </p>
                        <p><%= doc.rhythm %> <%= doc.meal[0] %></p>
                        <p><%= m.drug_type %> <%= m.dose %><%= (m.drug_type == "Tablet") ? "mg" : "ml" %></p>
                        <p><%= m.inventory %></p>
                
                    <form method="POST" action="/medicine-update/<%=m._id%>/<%=m.inventory%>?_method=UPDATE">
                        <button type="submit"><i class="fas fa-check"></i></button>
                    </form>

                </article>
            <% } %>
        <%})%>          
        <%})%>
    </div>
    <a href="/neue-therapie">+ Therapie anlegen</a>
    


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>