<%- include('./partials/head') %>
<%- include('./partials/profilehead') %>

<section id="dashboard">
    <%- include('./partials/calendar') %>
</section>

<%- include('./partials/nav') %>
<%- include('./partials/footer') %>
