<%- include('./partials/head') %>
<div id="medikamente">
<div class="grid-container f-container">




    <% Medicines.forEach(doc => { %>
        
    <article class="med-wrap">
     
        <div class="icon-wrap <%= (doc.drug_type == "Tablet") ? "icon-wrap-purple" : "icon-wrap-yellow" %>">

            <img src="<%= (doc.drug_type == "Tablet") ? "assets/img/pill.svg" : "assets/img/syringe.svg" %>" alt="drug-icon">
            <small class="<%= (doc.drug_type == "Tablet") ? "dark-purple" : "dark-yellow" %>"><%= doc.inventory %></small>
        </div>

        <h3> <%= doc.product_name %> </h3>
        <p class="mb-10"> <%= doc.drug_type %> <%= doc.dose %> </p>
        <p>10 days stock</p>
  
    </article>
                    
        <%})%>




        

</div>
</div>
<%- include('./partials/nav') %>
