<%- include('./partials/head') %>
<%- include('./partials/newhead') %>


<section id="therapie-plan">
<form action="/neue-therapie" method="POST" id="myform">
    


<input type="text" id="therapy-name" name="therapy_name" placeholder="Therapiename">
<div class="date-input">
  
<input type="date" name="start_date" class="date">
<input type="date" name="end_date" class="date">
</div>

<div class="select">
<select name="medicine" id="medicine-select"> 
    <option value="" disabled selected>Medikament auswählen</option>
    <% Medicines.forEach((doc) => { %>
        <option value="<%= doc.product_name %>"><%= doc.product_name %></option>
    <% }) %>
</select>
</div>


 <div id="tagen">

  <div class="bord">
<p class="Einnahme">Einnahme-Rhytmus</p>

<select name="rhythm" class="tegen-select"> 
  <option value="Täglich" selected>täglich...</option>
  <option value="Alle 2 Tage">Alle 2 Tage</option>
  <option value="Alle 3 Tage">Alle 3 Tage</option>
  <option value="Alle 4 Tage">Alle 4 Tage</option>
  <option value="Alle 5 Tage">Alle 5 Tage</option>
  <option value="Alle 6 Tage">Alle 6 Tage</option>
  <option value="Wöchentlich">Wöchentlich</option>
  <option value="Alle 2 Wochen">Alle 2 Wochen</option>
  <option value="Alle 3 Wochen">Alle 3 Wochen</option>
  <option value="Monatlich">Monatlich</option>
</select>


<fieldset id="firstFieldset">
    
<input type="time" name="take_time" value="09:00" step="900">

    <select name="portions" class="Stück"> 
        <option value="" disabled selected>1 Stück</option>
        <option value="1">1 Stück</option>
        <option value="2">2 Stück</option>
        <option value="3">3 Stück</option>
        <option value="4">4 Stück</option>
        <option value="5">5 Stück</option>
      </select>

      <select name="meal" class="meal"> 
        <option value="" disabled selected> <img class="MealF" src="../assets/img/Frame.svg" alt=""> meal</option>

        <option value="Vor dem Frühstuck">Vor dem Frühstuck</option>
        <option value="Zum Frühstuck">Zum Frühstuck</option>
        <option value="Nach dem Frühstuck">Nach dem Frühstuck</option>

        <option value="Vor dem Mittagessen">Vor dem Mittagessen</option>
        <option value="Zum Mittagessen">Zum Mittagessen</option>
        <option value="Nach dem Mittagessen">Nach dem Mittagessen</option>

        <option value="Vor dem Abendessen">Vor dem Abendessen</option>
        <option value="Zum Abendessen">Zum Abendessen</option>
        <option value="Nach dem Abendessen">Nach dem Abendessen</option>

      </select>

      <i class="far fa-trash-alt delete "></i>
</fieldset>


<a href="#" class="plus" onclick="duplicateFieldset()" >+</a>
</div>
</div>
<input class="Übernehmen" type="submit" value="Übernehmen">
</form>
<div class="untereBord"></div>
</section>



<script>
    let myForm = document.getElementById('myform')
    var count = 1;

    function duplicateFieldset() {

        let myTemplate = `
<fieldset style="border-width: 0;">
    <input type="time" name="take_time">

    <select name="portions"> 
        <option value="" disabled selected># Stück</option>
        <option value="1">1 Stück</option>
        <option value="2">2 Stück</option>
        <option value="3">3 Stück</option>
        <option value="4">4 Stück</option>
        <option value="5">5 Stück</option>
      </select>

      <select name="meal"> 
        <option value="" disabled selected>Mahlzeit</option>

        <option value="vor dem Frühstuck">vor dem Frühstuck</option>
        <option value="vor dem Frühstuck">vor dem Frühstuck</option>
        <option value="nach dem Frühstuck">nach dem Frühstuck</option>

        <option value="vor dem Mittagessen">vor dem Mittagessen</option>
        <option value="nach dem Mittagessen">nach dem Mittagessen</option>
        <option value="vor dem Mittagessen">vor dem Mittagessen</option>

        <option value="vor dem Abendessen">vor dem Abendessen</option>
        <option value="nach dem Abendessen">nach dem Abendessen</option>
        <option value="vor dem Abendessen">vor dem Abendessen</option>

      </select>

      <i class="far fa-trash-alt delete"></i>
      </fieldset>`

        count++;
        let newFieldset = document.createElement('fieldset')
        newFieldset.id = count
        newFieldset.innerHTML = myTemplate
        document.getElementById('firstFieldset').appendChild(newFieldset)
    }

    // Delete fieldset
    myForm.addEventListener('click', e => {
       
        if(e.target.classList.contains('delete')){
            e.target.parentElement.remove()
        }
    })

</script>





<%- include('./partials/nav') %>
<%- include('./partials/footer') %>

