<%- include('./partials/head') %>
<%- include('./partials/newhead') %>
<div id="single-med f-container">

    <!-- <a class="Back" href="/medikamente"> Medikament anlegen</a> -->
        
    <section id="single-med">
    <article class="med-wrap">
     
        <div class="icon-wrap <%= (Medicine.drug_type == "Tablet") ? "icon-wrap-purple" : "icon-wrap-yellow" %>">

            <img src="<%= (Medicine.drug_type == "Tablet") ? "../assets/img/pill.svg" : "../assets/img/syringe.svg" %>" alt="drug-icon">

            <small class="<%= (Medicine.drug_type == "Tablet") ? "dark-purple" : "dark-yellow" %>"><%= Medicine.inventory %></small>
        </div>
        <h3><%= Medicine.product_name %> </h3>
        <p class="mb-10"> <%= Medicine.drug_type %> <%= Medicine.dose %><%= (Medicine.drug_type == "Tablet") ? "mg" : "ml" %></p>
        <p>10 days stock</p>
        
    </article>
</section>




    <!-- <div id="Formular">
   
        <form action="/neue-medikament" method="POST">
          ​
              <input class="product_name" type="text" name="product_name" placeholder="Produktname">
          ​
              <input class="dose" type="text" name="dose" placeholder="Dosierung in ml/mg">
          ​
              <select class="select" name="drug_type" placeholder="Darreichungsformen">
                  <option class="Tablette" value="Tablet" selected>Tablette</option>
                  <option value="Injection">Injektion</option>
              </select>
          ​
              <input class="inventory" type="text" name="inventory" placeholder="Inventory">
  
              <input class="Weiter" type="submit" value="Weiter"> 
      
          </form>
      </div> -->
                  

    <a class="SM-Aktulalisieren" href="/update-medikament/<%= Medicine.id %>">Medikament aktualisieren</a>

    <form method="POST" action="/delete/<%=Medicine.id%>?_method=DELETE">
        <button class="SM-löschen" type="submit">Löschen</button>
    </form>


</div>


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>
