<%- include('./partials/head') %>

<article>
<h2><%= Therapy.therapy_name %></h2>

<p><strong>Startdatum:</strong> <%= Therapy.start_date %></p>
<p><strong>Enddatum:</strong> <%= Therapy.end_date %></p>
<p><strong>Medikament:</strong> <%= Therapy.medicine %></h3>
<p><strong>Einnahme-Rhytmus:</strong> <%= Therapy.rhythm %></p>
<p><strong>Uhrzeit:</strong> <%= Therapy.take_time[0] %></p> 
<p><strong>Stücke:</strong> <%= Therapy.portions[0] %></p> 
<p><strong>Mahlzeit:</strong> <%= Therapy.meal[0] %></p>

</article>
              

<a href="/update-therapie/<%= Therapy.id %>">Therapie aktualisieren</a>

<form method="POST" action="/delete-therapy/<%=Therapy.id%>?_method=DELETE">
    <button type="submit">Löschen</button>
</form>


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>