<%- include('./partials/head') %>

<article id="single-therapie">
     
<h2><%= Therapy.therapy_name %></h2>

<p><strong>Startdatum:</strong> <%= Therapy.start_date %></p>
<p><strong>Enddatum:</strong> <%= Therapy.end_date %></p>

<p><strong>Medikament:</strong> <%= Therapy.medicine %></h3>
<p><strong>Einnahme-Rhytmus:</strong> <%= Therapy.rhythm %></p>

<% Therapy.details.forEach(item => { %>
<div>
<h4>Einnahme # <%= item.index + 1 %></h4>
<div><p>Uhrzeit: <%= item.take_time %></p> <p>Stücke: <%= item.portions %></p> <p>Mahlzeit: <%= item.meal %></p>
</div>
</div>
<%})%>


</article>
              

<a href="/update-therapie/<%= Therapy.id %>">Therapie aktualisieren</a>

<form method="POST" action="/delete-therapy/<%=Therapy.id%>?_method=DELETE">
    <button type="submit">Löschen</button>
</form>


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>