<%- include('./partials/head') %>
<%- include('./partials/newhead') %>

<article id="single-therapie">
     


<h2><%= Therapy.therapy_name %></h2>

<p><strong>Startdatum:</strong> <span><%= Therapy.start_date.toLocaleDateString() %></span></p>
<p><strong>Enddatum:</strong> <%= Therapy.end_date.toLocaleDateString() %></p>
<p><strong>Medikament:</strong> <%= Therapy.medicine %></h3>
<p><strong>Einnahme-Rhytmus:</strong> <%= Therapy.rhythm %></p>
<p><strong>Uhrzeit:</strong> <%= Therapy.take_time[0] %></p> 
<p><strong>Stücke:</strong> <%= Therapy.portions[0] %></p> 
<p><strong>Mahlzeit:</strong> <%= Therapy.meal[0] %></p>

</article>
              

<a class="SM-Aktulalisieren" href="/update-therapie/<%= Therapy.id %>">Therapie aktualisieren</a>

<form method="POST"  action="/delete-therapy/<%=Therapy.id%>?_method=DELETE">
    <button class="SM-löschen" type="submit">Löschen</button>
</form>


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>