<%- include('./partials/head') %>
<%- include('./partials/profilehead') %>

<section>
<%- include('./partials/calendar') %>
</section>
<%- include('./partials/nav') %>
<%- include('./partials/footer') %>