<%- include('./partials/head') %>
<%- include('./partials/profilehead') %>
<%- include('./partials/calendar') %>


    <div id="Therapie">
        <%Therapies.forEach(doc => { %>
        <%Medicines.forEach(m => { %>

            <% if(doc.medicine == m.product_name) { %>

                <article class="therabieA">



                    <div class="icon-wrap <%= (m.drug_type == "Tablet") ? "icon-wrap-purple" : "icon-wrap-yellow" %>">
                    
                        <img src="<%= (m.drug_type == "Tablet") ? "../assets/img/pill.svg" : "../assets/img/syringe.svg" %>" alt="drug-icon">
            
                    
                    </div>

                    <div class="TheName">
                        <h2><a href="/single-therapie/<%= doc.id %>"><%= doc.therapy_name %></a></h2>
                        
                        <p class="PR"><a href="/single-med/<%= m.id %>"><%= m.product_name %></a></p>
                        <p class="PR"><%= doc.rhythm %> <%= doc.meal[0] %></p>
                    </div>
                        <div class="mml" > 
                        <p><%= m.inventory %></p>
                        </div>
                
                    <form method="POST" action="/medicine-update/<%=m._id%>/<%=m.inventory%>?_method=UPDATE">
                        <button type="submit"><i class="fas fa-check"></i></button>
                    </form>

                </article>
            <% } %>
        <%})%>          
        <%})%>
        <a class="Neue-therpie" href="/neue-therapie">+ Therapie anlegen</a>
    </div>
    
    


<%- include('./partials/nav') %>
<%- include('./partials/footer') %>