<%- include('./partials/head') %>
<%- include('./partials/newhead') %>
​

<div id="update-med">
<h3 class="test-heading">Medikament Aktualisieren</h3>
<article id="update-formular">
<form action="/update-medikament/<%=Medicine.id%>" method="POST">

​   
    <input class="product_name" type="text" name="product_name" placeholder="Produktname" value="<%=Medicine.product_name%>">
​
    <input class="dose" type="text" name="dose" placeholder="Dosierung in ml/mg" value="<%=Medicine.dose%>">
​
    <select class="select" name="drug_type" placeholder="Darreichungsformen" value="<%=Medicine.drug_type%>">
        <option value="Tablet" selected>Tablette</option>
        <option value="Injection">Injektion</option>
    </select>
​
    <input class="inventory" type="text" name="inventory" placeholder="Inventory" value="<%=Medicine.inventory%>">
    
    <input class="MAktualiesiern" type="submit" value="Medikament aktualisieren">
</form>
</article>
​</div>

<%- include('./partials/nav') %>
<%- include('./partials/footer') %>
